a.addNow {
  font-size: 8px;
  margin-left: 5px;
  color: #999;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 0 1px;

}

ul#nowList {
  font-size: 10px;
  background: #eee;
  border-radius: 3px;
  padding: 5px;
}

ul#nowList li {
  border: none;
}
