doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/admin/stylesheets/style.css')
    link(rel='stylesheet', href='/admin/stylesheets/content.css')
    link(rel='stylesheet', href='/admin/stylesheets/dropzone.css')
    link(rel='stylesheet', href='/admin/stylesheets/now.css')

    script(src='/admin/javascripts/jquery.js')

    script(src='/admin/javascripts/jquery-ui-1.9.2.custom.js')
    script(src='/admin/javascripts/dropzone.js')
    script(src='/admin/javascripts/imgPreview.js')
    
    script(src='/admin/javascripts/script.js')
    
  body
    block content