doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style2.css')
    link(rel='stylesheet', href='/stylesheets/description.css')

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/script2.js')
  body
    block content