html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Georgia, serif;
  font-size: 16px;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
body:after {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  z-index: -100;
}

body.background-loaded:after {
  opacity: 0;
}

.noscroll {
  overflow: hidden;
}

a, a:visited {
  text-decoration: none;
  color: #7f7f7f;
}

ul {
  list-style: none;
}

#menu {
  display: none;
}

.home-link {
  color: #000 !important;
}

.mobile_menu-header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  text-align: center;
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  z-index: 100;
}
.mobile_menu-header.is-open {
  background: rgba(255, 255, 255, 0.9);
}

.mobile_menu-top {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 60px;
  /*padding: 0 1rem;*/
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  z-index: 100;
}
.mobile-index {
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.mobile-index a h1 {
  margin: 0
}

.mobile_menu-bottom {
  position: absolute;
  top: 0;
  width: 100%;
}

.mobile_menu-button {
  width: 30px;
  height: 30px;
  margin-right: 1.2rem;
  top: 0;
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
}

  /*width: 30px*/
  /*height: 30px*/
.mobile_menu-button span, .mobile_menu-button span:before, .mobile_menu-button span:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background: #000;
  position: relative;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.mobile_menu-button span:before {
  top: 10px;
}
.mobile_menu-button span:after {
  top: -12px;
}

.mobile_menu-button.menu-active span {
  background: transparent;
}
.mobile_menu-button.menu-active span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center;
  top: 3px;
}
.mobile_menu-button.menu-active span:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transform-origin: center;
  top: 0;
}

.mobile-title {
  margin: 0 0 0 1rem;
  font-size: 6.5vw;
}

@media(max-width: 400px) {
  .mobile-title {
    font-size: 6.5vw;
  }
}

.mobile-title.index {
  margin: 0 auto;
}
.mobile_menu-container {
  position: absolute;

  width: 100vw;
  z-index: 90;
  padding: 60px 0;
  max-height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;

  background: rgba(255, 255, 255, .95);

  -webkit-transform: translateY(-120%);
  -moz-transform: translateY(-120%);
  -ms-transform: translateY(-120%);
  -o-transform: translateY(-120%);
  transform: translateY(-120%);

  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;

}
.mobile_menu-container.open {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  overflow-y: scroll;
}

.mobile_menu-list {
  position: relative;
}
/*.mobile_menu-list ul:first-child {*/

  /*padding-top: 120px;*/
/*}*/
/*@media(max-width: 350px) {*/
  /*.mobile_menu-list ul:first-child {*/
    /*padding-top: 180px;*/

  /*}*/
/*}*/
.mobile_menu-list ul{
  list-style: none;
  text-align: center;
  padding: 0;
  font-size: 1.2rem;
  width: 90vw;
  margin: 2rem auto;
}
.mobile_menu-list ul li{
  margin: .2rem 0;
}
.mobile_menu-list ul li.selected a{
  color: #111;
}

#content, #mobile_start {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-top: 80px;
}
#content_container {
  width: 90vw;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 auto 1rem auto;
  height: auto !important;
}

.description {
  padding-bottom: 0rem !important;
  padding: 1rem;
}

#right_content {
  padding-top: .3rem !important;
}

.sub {
  margin-bottom: 1rem;
}

.sub h1 {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
}

.sub span {
  display: none;
}

#mediaContainer {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
}
#mediaSelector {
  display: none;
}
#mediaContainer img {
  width: 100%;
}

